### Step 0 Imports and Reading Data

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)

In [6]:
df = pd.read_csv('/Users/kaancakir/data/cryptoAnalysis/Top 100 Crypto Coins/ethereum.csv')

### Step 1: Data Understanding

In [8]:
df.shape

(2358, 7)

In [13]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Currency'], dtype='object')

In [14]:
df.dtypes

Date         object
Open        float64
High        float64
Low         float64
Close       float64
Volume        int64
Currency     object
dtype: object

In [15]:
df.describe()

              Open         High          Low        Close        Volume
count  2358.000000  2358.000000  2358.000000  2358.000000  2.358000e+03
mean    847.608083   877.386828   813.515225   848.270513  1.269467e+07
std    1150.297624  1186.544788  1107.868923  1150.261834  1.014013e+08
min       6.680000     7.320000     5.860000     6.700000  0.000000e+00
25%     138.767500   144.417500   134.780000   138.990000  5.465530e+05
50%     279.165000   288.000000   266.885000   280.115000  1.429778e+06
75%    1124.007500  1170.885000  1045.820000  1127.730000  7.717627e+06
max    4808.340000  4864.060000  4715.430000  4808.380000  1.792561e+09

In [12]:
df.head()

         Date   Open   High    Low  Close  Volume Currency
0  2016-03-10  11.20  11.85  11.07  11.75       4      USD
1  2016-03-11  11.75  11.95  11.75  11.95     179      USD
2  2016-03-12  11.95  13.45  11.95  12.92     833      USD
3  2016-03-13  12.92  15.07  12.92  15.07    1295      USD
4  2016-03-14  15.07  15.07  11.40  12.50   92183      USD

### Step 2: Data Preperation